.mar{
    width: 100%;
    height: 650px;
    color: white;
    background-color: var(--color-background);
    font-family: 'Roboto';
}

.mar div{
    position: relative;
}
.mar p{
   position: absolute; 
    bottom: 250px;
    font-size: 48px;    
    left: 50px;
}

.mar img{
    width: 100%;
    height: 500px;
    opacity: .35; 

}

.nuestra-mision{
    display: flex;
    width: 100%;
    background-color: var(--color-background);
    height: 600px;
    font-family: 'Roboto';
    justify-content: center;
}

.contenedor-imagen-mision{
    width: 50%;
    display: flex;
    margin-left: 5%;
}

.contenedor-imagen-mision img{
   width: 500px;
   height: 400px;
}


.contenedor-texto-mision{
    width: 50%;
   margin: 0 5% 0 0;
   font-size: 24px;
   color: white;
   font-weight: 200;

}
.titulo-mision{
    font-size: 38px;
    margin-bottom: 25px;
    font-weight: 400;
}
/** Nuestro Compromiso **/

.nuestro-compromiso{
    display: flex;
    width: 100%;
    background-color: var(--color-background);
    height: 600px;
    font-family: 'Roboto';
    justify-content: center;
}
.contenedor-imagen-compromiso{
    width: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    color: white;  
    font-size: 32px; 
    display: flex;
    align-items: center;
}
.contenedor-imagen-compromiso img{
    width: 100%;
    opacity: .35;
}

.compromiso{
    position: absolute; 
    width: 60%;
    margin-left: 5%;
}