.section-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-background);
    height: 1300px;
}

.cards{
    width: 340px;
    height: 450px;
    margin: 5%;
    border: none;
    border-radius: 5px ;
}
.cards img{
    width: 340px;
    height: 450px;
}
.texto-oculto{
    text-align: center;
    font-size: 20px;
}

.texto-oculto{
    animation:texto-oculto 1s linear both
} 
@keyframes texto-oculto{
    0%{
        letter-spacing:.6em;
        opacity:0
    }40%
        {opacity:.6

    }100%
        {letter-spacing:normal;
            opacity:1
        }
}