

.section-mantenimiento{
    background-color: var(--color-background);
    height: 800px;
    padding: 5%;
    font-family: 'Roboto';
    display: flex;
}
.section-mantenimiento h1{
    color: white;
    font-size: 48px;
    width: 75%;
    margin-bottom: 5%;
}
.section-mantenimiento p{
    color: white;
    width: 60%;
    margin-bottom: 30px;
    font-weight: 100;
}
.mantenimiento-img{
    width: 500px;
    height: 480px;
}
.btn-leer-mas{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}




